.App {
  text-align: center;
  height: 98vh;
  padding: 4vh 20vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

ul {
  color: black;
  text-align: left;
}

link {
  cursor: pointer;
}
