body {
  background-color: rgba(186, 186, 186, 0.7);
}

.wrapper {
  text-align: center;
  padding: 0vh 2vh 2vh 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  border: dashed 2px grey;
  padding: 4vh;
  font-family: 'Times New Roman';
}

.App-header {
  background-color: #27b7f9;
  font-size: calc(10px + 2vmin);
  color: yellow;
  font-family: 'Times New Roman';
  border: groove 24px green;
  margin-bottom: 4vh;
}

ul {
  padding: 0;
  color: black;
  text-align: left;
  list-style-type: tibetan;
}

li {
  display: flex;
}

li > div {
}

li:before {
  content: '•'; /* Insert content that looks like bullets */
  padding-right: 12px;
  color: yellow; /* Or a color you prefer */
}

link {
  cursor: pointer;
}

label,
input {
  font-family: 'Comic Sans MS';
  padding: 0 1vh;
}

.name {
  color: #27b7f9;
}
